body{
    background-color: #cefdb3;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%236b9056' fill-opacity='0.36'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");
  }
  
  .navbar {
    background-color: #6B9056;
    overflow: hidden;
    margin-bottom: 5px;
    width: 100%;
    text-align: center;
  }

  .navbar a{
    color: black;
    font-weight: bold;
    font-size: 15px;
  }


  .nav-item {
    background-color: #6B9056;
    overflow: hidden;
    margin-bottom: 5px;
    width: 100%;
    text-align: center;
  }
  
  .nav-link {
    float: right;
  }
  
  .nav-link:hover{
    color: #FAFAFA;
  }
  
  
  .navbar-brand{
    float: left;
  }
  
  
  .card {
    box-shadow: 0 4px 8px 0   rgba(0,0,0,0.2);
    align: left;
    margin: 20px 10px;
  }

  li{
    margin-bottom: 8px;
  }
  
  .top-left{
    position: absolute;
    top: 20px;
    left: 30px;
    color: black;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Chakra Petch', sans-serif;
    background-color: #d8c996;
    ;
    
  }
  
  .top-right{
    position: absolute;
    top: 20px;
    right: 30px;
    color: black;
    font-weight: bold;
    font-size: 20px; 
    font-family: 'Chakra Petch', sans-serif;
    background-color: #d8c996;
  }
  
  .card-title{
    background-color: #E8F5E9;
    padding: 6px;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: bold;
    
  }
  
  #ghibli{
    border-radius: 8px;
    border: 4px solid;
    border-style:double;
    border-color: #92ce29;
    margin-top: 8px;
    padding: 5px;
    width: 500px;
    height: 350px; 
  }


  
  
  .workCard{
    background-color: #E8F5E9;
    padding: 5px 5px;
    margin: 10px 10px;
    color: black;
  }
  
  /* .hyperlink{
    color: black;
    hover: green;
  } */
  
  .acctsCard{
    background-color: #E8F5E9;
    padding: 5px 5px;
    margin: 10px 10px;
    color: black;
  }
  
  .card h4{
    text-align:center;
  }

  .card h6{
    padding: 5px;
    text-align:center;
  }
  
  .footer {
    position: relative;
    overflow: hidden;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #557543;
    color: black;
    font-weight: bold;
    font-size: 15px;
    margin-top: 5px;
  }
  
  .footer-link{
    float: right;
    color: black;
    margin: 5px 10px;
    text-decoration: none;
  }
  
  .footer-link:hover{
    color: #FAFAFA;
  }

  /* modal resume */

  /* Style the Image Used to Trigger the Modal */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  width: 225px;
  height: 100px;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 50px; /* Location of the box */
  left: 0;
  top: 0;
  zoom: 165%;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}